section
  h1(style="font-variant: small-caps")
    | Every Author as
    br
    | First Author
  hr
  h2.r-stack
    .stack.fragment.fade-out(data-fragment-index=1, title="Erik Demaine; Martin Demaine")
      .name Erik Demaine
      .name Martin Demaine
    .stack.fragment.fade-in(data-fragment-index=1, title="Erik Demaine; Martin Demaine")
      .name.a1o2 Erik Demaine
      .name.a2o2 Martin Demaine
  h3 M.I.T.
  hr
  h4 SIGTBD 2023

section
  h2 The Problem: Authorship Order
  ul
    li Most common order: <b>decreasing significance</b>
    li Difficult to measure
    li Uncomfortable conversations, arguments, feuds
    li What if contributions are roughly <b>equal</b>?

section
  h2 Alphabetical Order
  ul
    li Make order <b>algorithmic</b> and thus <b>meaningless</b>
    li Common in economics, mathematics, and theoretical computer science
    li Tenet of <b>supercollaboration</b>
      cite.bracket.autostack Bosboom; Demaine; Demaine; Lynch 2018
      | :<br>in brainstorming, ideas and failures are as important as successes
    li Guarantee contributions are fairly recognized without ever arguing who contributed what

section
  h2 Bias
  ul
    li <b>Citations</b> in body of paper often “X et al. <cite class="bracket">#</cite>”<br>for numeric or “<cite>(X et al.)</cite>” for author/year, <br>which gives first author X unequal promotion
      ul
        li <u>Recommendation:</u> Write “X, Y, and Z <cite class="bracket">#</cite>”
        li Impractical for papers with >10 authors
    li <b>Sorting</b> bibliographies alphabetically clusters more by first author, giving unequal promotion
    li Alphabetical order <b>judged</b> by fields with decreasing-contribution order

section
  h2 Alphabetical Discrimination
  ul
    li People with alphabetically earlier surnames are more likely to succeed academically
      cite.bracket
        .stack(title="Weber")
          .name Weber
        |  2018
  img.r-stretch(src="figs/weber-table.png")

section(data-transition="fade")
  h2 Alternatives: Games
  ul
    li 25-game croquet series
      cite.bracket.autostack Hassell; May 1974
    li 2-day backgammon contest
      cite.bracket.autostack Godley; May 1977
    li Tennis match
      cite.bracket.autostack Griffiths; Anderson 1978
    li Basketball free throws
      cite.bracket.autostack Fauth; Resetarits 1991
    li Arm wrestling
      cite.bracket.autostack Shulman; Bermingham 1995
    li Brownie bake-off
      cite.bracket.autostack Young; Young 1992
    li A game of chicken
      cite.bracket.autostack Riechert; Hammerstein 1983
    li Rock paper scissors
      cite.bracket.autostack Kupfer; Webbeking; Franklin 2004

section(data-transition="fade")
  h2 Alternatives: Randomness
  ul
    li Coin toss
      cite.bracket.autostack Miller; Ballard 1992
    li Dice roll
      cite.bracket.autostack Mandle; Bufford; Schmidt; Daehler 2011
    li Outcome of famous cricket games
      cite.bracket.autostack O’Hara; Kotze 2010
    li Currency exchange rate fluctuation
      br
      cite.bracket.autostack Feder; Mitchell-Olds 2003
  .columns.r-stretch
    .column
      ul
        li Dog treat consumption order
          cite.bracket.autostack Rochman; Brookson; Bikker; Djuric; Earn; Bucci; Athey; Huntington; McIlwraith; Munno; De  Frond; Kolomijeca; Erdle; Grbic; Bayoumi; Borrelle; Wu; Santoro; Werbowski; Zhu; Giles; Hamilton; Thaysen; Kaura; Klasios; Ead; Kim; Sherlock; Ho; Hung 2019
    .column.h-100(style="margin-top:-1.5em")
      img.my-0(src="figs/dog-treat.jpg")
      a.url(href="https://twitter.com/ChelseaRochman/status/1110580954253484032") https://twitter.com/ChelseaRochman/status/1110580954253484032

section(data-transition="fade")
  h2 Alternatives: Authors
  ul
    li Height
      cite.bracket.autostack Marston; Jones; Woodward 2005
    li Fertility
      cite.bracket.autostack Oliver; Babcock 1992
    li Proximity to tenure
      cite.bracket.autostack Roderick; Gillespie 1998
    li Reverse alphabetical order
      br
      cite.bracket.autostack Zolensky; Zega; Yano; Wirick; Westphal; Weisberg; Weber; Warren; Velbel; Tsuchiyama; Tsou; Toppani; Tomioka; Tomeoka; Teslich; Taheri; Susini; Stroud; Stephan; Stadermann; Snead; Simon; Simionovici; See; Robert; Rietmeijer; Rao; Perronnet; Papanastassiou; Okudaira; Ohsumi; Ohnishi; Nakamura-Messenger; Nakamura; Mostefaoui; Mikouchi; Meibom; Matrajt; Marcus; Leroux; Lemelle; Le; Lanzirotti; Langenhorst; Krot; Keller; Kearsley; Joswiak; Jacob; Ishii; Harvey; Hagiya; Grossman; Grossman; Graham; Gounelle; Gillet; Genge; Flynn; Ferroir; Fallon; Ebel; Dai; Cordier; Clark; Chi; Butterworth; Brownlee; Bridges; Brennan; Brearley; Bradley; Bleuet; Bland; Bastien 2006
    li Degree of belief in the paper's thesis
      br
      cite.bracket.autostack Clark; Chalmers 1998

section
  h2 Our Solution

section
  h2 Independent Discovery

section
  h2 Revealing the Names

section
  h2 Opacity

section
  h2 Space Savings

section
  h2 Technology

section
  h2 Technology: LaTeX

section
  h2 Technology: BibTeX

section
  h2 Technology: HTML

section
  h2 Future Work: Name Length

section
  h2 Future Work: Readability
  ul
    li <b>Round-robin documents</b> signed by authors in a circle to prevent identification of a ringleader (such as mutineer sailors)
    li xxx image
