section
  h1(style="font-variant: small-caps")
    | Every Author as
    br
    | First Author
  hr
  h2.r-stack
    .stack.fragment.fade-out(data-fragment-index=1, title="Erik Demaine; Martin Demaine")
      .name Erik Demaine
      .name Martin Demaine
    .stack.fragment.fade-in(data-fragment-index=1, title="Erik Demaine; Martin Demaine")
      .name.a1o2 Erik Demaine
      .name.a2o2 Martin Demaine
  h3 M.I.T.
  hr
  h4 SIGTBD 2023

section
  h2 The Problem: Authorship Order
  .columns.v-top
    .column
      ul
        li Most common order: <b>decreasing significance</b>
        li Difficult to measure
        li Uncomfortable conversations, arguments, feuds
        li What if contributions are roughly <b>equal</b>?
    .column
      a(href="https://doi.org/10.1126/science.1058040")
        img.frame(src="figs/human-genome.jpg", width=1000, alt="Title page from the Human Genome Project paper", title="Title page from the Human Genome Project paper", style="margin-top:-0.25em !important")

section
  h2 Alphabetical Order
  a(href="https://doi.org/10.2197/ipsjjip.28.987")
    img.frame(width=1000, src="figs/alphabetical-15.png", alt="Our current record of 15 authors on a paper, in alphabetical order", title="Our current record of 15 authors on a paper, in alphabetical order")
  ul
    li Make order <b>algorithmic</b> and thus <b>meaningless</b>
    li Common in economics, mathematics, and theoretical computer science
    li Tenet of <b>supercollaboration</b>
      cite.bracket.autostack Bosboom; Demaine; Demaine; Lynch 2018
      | :<br>in brainstorming, ideas and failures are as important as successes
    li Guarantee contributions are fairly recognized without ever arguing who contributed what

section
  h2 Bias
  ul
    li <b>Citations</b> in body of paper often “X et al. <cite class="bracket">#</cite>”<br>for numeric or “<cite>(X et al.)</cite>” for author/year, <br>which gives first author X unequal promotion
      ul
        li <u>Recommendation:</u> Write “X, Y, and Z <cite class="bracket">#</cite>”
        li Impractical for papers with >10 authors
    li <b>Sorting</b> bibliographies alphabetically clusters more by first author, giving unequal promotion
    li <i>Above are fundamental limitations of any order</i>
    li Alphabetical order <b>judged</b> by fields with decreasing-contribution order

section
  h2 Alphabetical Discrimination
  ul
    li People with alphabetically earlier surnames are more likely to succeed academically
      cite.bracket.autostack Weber 2018
  a(href="https://doi.org/10.1093/reseval/rvy008", style="margin-top: 0.5em !important; display: block").r-stretch
    img.frame(src="figs/weber-table.png", alt="Table 1 from Weber 2018, summarizing studies on alphabetical discrimination", title="Table 1 from Weber 2018, summarizing studies on alphabetical discrimination")

section(data-transition="fade")
  h2 Alternatives: Games
  ul
    li 25-game croquet series
      cite.bracket.autostack Hassell; May 1974
    li 2-day backgammon contest
      cite.bracket.autostack Godley; May 1977
    li Tennis match
      cite.bracket.autostack Griffiths; Anderson 1978
    li Basketball free throws
      cite.bracket.autostack Fauth; Resetarits 1991
    li Arm wrestling
      cite.bracket.autostack Shulman; Bermingham 1995
    li Brownie bake-off
      cite.bracket.autostack Young; Young 1992
    li A game of chicken
      cite.bracket.autostack Riechert; Hammerstein 1983
    li Rock paper scissors
      cite.bracket.autostack Kupfer; Webbeking; Franklin 2004
  .columns
    .column
      a(href="https://twitter.com/AndyPurvisNHM/status/783326646464045057")
        img.invert.frame(src="figs/publish-and-perish.jpg", width=800, style="padding:0px !important; margin-top: 0.2em !important", alt="Publish and perish: a quick way of resolving who gets to be first author")
    .column.fill(style="align-self: center")
      a(href="https://twitter.com/AndyPurvisNHM/status/783326646464045057").url https://twitter.com/ AndyPurvisNHM/status/ 783326646464045057

section(data-transition="fade")
  h2 Alternatives: Randomness
  ul
    li Coin toss
      cite.bracket.autostack Miller; Ballard 1992
    li Dice roll
      cite.bracket.autostack Mandle; Bufford; Schmidt; Daehler 2011
    li Outcome of famous cricket games
      cite.bracket.autostack O’Hara; Kotze 2010
    li Currency exchange rate fluctuation
      br
      cite.bracket.autostack Feder; Mitchell-Olds 2003
  .columns.v-top
    .column.fill
      ul
        li Dog treat consumption order
          cite.bracket.autostack Rochman; Brookson; Bikker; Djuric; Earn; Bucci; Athey; Huntington; McIlwraith; Munno; De  Frond; Kolomijeca; Erdle; Grbic; Bayoumi; Borrelle; Wu; Santoro; Werbowski; Zhu; Giles; Hamilton; Thaysen; Kaura; Klasios; Ead; Kim; Sherlock; Ho; Hung 2019
      p
        a.url(href="https://twitter.com/ChelseaRochman/status/1110580954253484032") https://twitter.com/ChelseaRochman/ status/1110580954253484032
    .column(style="margin-top:-1.25em")
      a.url(href="https://twitter.com/ChelseaRochman/status/1110580954253484032")
        img.my-0(width=600, src="figs/dog-treat.jpg")

section(data-transition="fade")
  h2 Alternatives: Authors
  ul
    li Height
      cite.bracket.autostack Marston; Jones; Woodward 2005
    li Fertility
      cite.bracket.autostack Oliver; Babcock 1992
    li Proximity to tenure
      cite.bracket.autostack Roderick; Gillespie 1998
    li Reverse alphabetical order
      br
      cite.bracket.autostack Zolensky; Zega; Yano; Wirick; Westphal; Weisberg; Weber; Warren; Velbel; Tsuchiyama; Tsou; Toppani; Tomioka; Tomeoka; Teslich; Taheri; Susini; Stroud; Stephan; Stadermann; Snead; Simon; Simionovici; See; Robert; Rietmeijer; Rao; Perronnet; Papanastassiou; Okudaira; Ohsumi; Ohnishi; Nakamura-Messenger; Nakamura; Mostefaoui; Mikouchi; Meibom; Matrajt; Marcus; Leroux; Lemelle; Le; Lanzirotti; Langenhorst; Krot; Keller; Kearsley; Joswiak; Jacob; Ishii; Harvey; Hagiya; Grossman; Grossman; Graham; Gounelle; Gillet; Genge; Flynn; Ferroir; Fallon; Ebel; Dai; Cordier; Clark; Chi; Butterworth; Brownlee; Bridges; Brennan; Brearley; Bradley; Bleuet; Bland; Bastien 2006
    li Degree of belief in the paper's thesis
      br
      cite.bracket.autostack Clark; Chalmers 1998

section
  h2 Our Solution
  ul
    li <b>New standard</b> for listing authors:
      blockquote Superimpose all author names on top of each other (<b>stack</b>)
    li <u>Example:</u>
      blockquote Erik Demaine &amp; Martin Demaine →
        .autostack Erik Demaine; Martin Demaine
    li <b>Every author comes first!</b>
      p
    li Hybrid for inequal contributions: stack clusters of authors with equal contributions

section
  h2 Independent Discovery

section
  h2 Revealing the Names

section
  h2 Opacity

section
  h2 Space Savings

section
  h2 Technology

section
  h2 Technology: LaTeX

section
  h2 Technology: BibTeX

section
  h2 Technology: HTML

section
  h2 Future Work: Name Length

section
  h2 Future Work: Readability
  ul
    li <b>Round-robin documents</b> signed by authors in a circle to prevent identification of a ringleader (such as mutineer sailors)
    li xxx image
