section
  h1(style="font-variant: small-caps")
    | Every Author as
    br
    | First Author
  hr
  h2.r-stack
    .stack.fragment.fade-out(data-fragment-index=1, title="Erik Demaine; Martin Demaine")
      .name Erik Demaine
      .name Martin Demaine
    .stack.fragment.fade-in(data-fragment-index=1, title="Erik Demaine; Martin Demaine")
      .name.a1o2 Erik Demaine
      .name.a2o2 Martin Demaine
  h3 M.I.T.
  hr
  h4 SIGTBD 2023

section
  h2 The Problem: Authorship Order
  ul
    li Most common order: <b>decreasing significance</b>
    li Difficult to measure
    li Uncomfortable conversations, arguments, feuds
    li What if contributions are roughly <b>equal</b>?

section
  h2 Alphabetical Order
  ul
    li Make order <b>algorithmic</b> and thus <b>meaningless</b>
    li Common in economics, mathematics, and theoretical computer science
    li Tenet of <b>supercollaboration</b>
      cite.bracket
        .stack(title="Jeffrey Bosboom; Erik Demaine; Martin Demaine; Jayson Lynch")
          .name Bosboom
          .name Demaine
          .name Demaine
          .name Lynch
        |  2018
      | :<br>in brainstorming, ideas and failures are as important as successes
    li Guarantee contributions are fairly recognized without ever arguing who contributed what

section
  h2 Bias
  ul
    li <b>Citations</b> in body of paper often “X et al. <cite class="bracket">#</cite>”<br>for numeric or “<cite>(X et al.)</cite>” for author/year, <br>which gives first author X unequal promotion
      ul
        li <u>Recommendation:</u> Write “X, Y, and Z <cite class="bracket">#</cite>”
        li Impractical for papers with >10 authors
    li <b>Sorting</b> bibliographies alphabetically clusters more by first author, giving unequal promotion
    li Alphabetical order <b>judged</b> by fields with decreasing-contribution order

section
  h2 Alphabetical Discrimination
  ul
    li People with alphabetically earlier surnames are more likely to succeed academically
      cite.bracket
        .stack(title="Weber")
          .name Weber
        |  2018
  img.r-stretch(src="figs/weber-table.png")

section(data-transition="fade")
  h2 Alternatives: Games
  ul
    li 25-game croquet series
    li 2-day backgammon contest
    li Tennis match
    li Basketball free throws
    li Arm wrestling
    li Brownie bake-off
    li A game of chicken
    li Rock paper scissors
    li xxx add citations

section(data-transition="fade")
  h2 Alternatives: Randomness
  ul
    li Coin toss
    li Dice roll
    li Outcome of famous cricket games
    li Currency exchange rate fluctuation
    li Dog treat consumption order
    li xxx image

section(data-transition="fade")
  h2 Alternatives: Authors
  ul
    li Height
    li Fertility
    li Proximity to tenure
    li Reverse alphabetical order
    li Degree of belief in the paper's thesis

section
  h2 Our Solution

section
  h2 Independent Discovery

section
  h2 Revealing the Names

section
  h2 Opacity

section
  h2 Space Savings

section
  h2 Technology

section
  h2 Technology: LaTeX

section
  h2 Technology: BibTeX

section
  h2 Technology: HTML

section
  h2 Future Work: Name Length

section
  h2 Future Work: Readability
  ul
    li <b>Round-robin documents</b> signed by authors in a circle to prevent identification of a ringleader (such as mutineer sailors)
    li xxx image
