section
  h1(style="font-variant: small-caps")
    | Every Author as
    br
    | First Author
  hr
  h2
    .stack
      .name.a1 Erik Demaine
      .name.a2o2 Martin Demaine
  h3 M.I.T.
  hr
  h4 SIGTBD 2023

section
  h2 Introduction
  ul
    li Hello 
      span.fragment World!
    li.fragment Math is easy: $\displaystyle \sum_{i=1}^n i^2$

section
  h2 Conclusion
  ul
    li.fragment Goodbye
